BODY { background: darkblue; color: silver; 
       font-weight: bold }

H1 { color: white; text-align: center }
H2, H3, H4, H5, H6 { color: white }

P { color: silver; font-weight: bold; text-align: justify; 
    margin-left: 20; margin-right: 20 }

A { color: yellow; text-decoration: none }
A:hover { text-decoration: underline }
A:visited { color: cyan }

DL { margin-right: 20; margin-left: 20 }
DT { color: white; font-weight: bold; padding-top: 5 }

TABLE { font-weight: bold }
TR { vertical-align: top }
TH { color: white; text-align: left }
TD { color: silver; font-weight: bold }

STRONG { color: white }

.netscape { color: silver; font-weight: bold }
.copyright { font-size: 8pt; font-style: italic;
             text-align: center }